@import url('https://fonts.googleapis.com/css2?family=Encode+Sans+Semi+Expanded:wght@100&family=Quicksand:wght@300&display=swap');

* {
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 0;
    padding: 0;
    border: 0;
}

/** body **/

body {
    font-family: 'Quicksand', sans-serif;
    text-decoration: none;
    width: 100vw;
    border: 0;
    margin: 0;
    overflow-y: scroll;
    overflow-x: hidden;
}

.container-fluid {
    width: 100vw;
    padding: 0 0 0 0;
}

/** navbar **/

.navbar {
    position: fixed;
    z-index: 1000;
    width: 100vw; 
    padding: 0 0 0 0;
}

.navbar-toggler{
    background-color: #fc5a03;
}

.bg-dark {
    background-color: #222021!important;
}

.navbar-light .navbar-brand {
    font-size: 2.5rem;
    padding: 1% 1% 1% 1%;
    color:#fc5a03;
    padding-right: 10%;
    font-weight: bold;
}

.navbar-light .navbar-nav .nav-link {
    font-size: 1.75rem;
    list-style-type: none;
    color:#fc5a03;
}

/** hero container **/

.hero-container-fluid {
    width: 100vw;
    height: 100vh;
    background-image: url('https://images.unsplash.com/photo-1540496905036-5937c10647cc?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1950&q=80');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    margin-bottom: 75px;
}

/** call out **/

#section-1 .call-out h2 {
    z-index: 1000;
    margin-top: 100px;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 5px;
    font-size: 1.25rem;
    background-color:  #fc5a03; 
    color:  #222021!important;
    padding: 5px 5px 5px 5px;
}

#section-1 .call-out h2 .sign-up {
    background-color:  #222021!important;
    color:  #fc5a03; 
    padding: 5px 5px 5px 5px;
}

/** locations **/

.overlay {
    position: absolute;
    font-size: 25px;
    color:  #fc5a03;
    background-color:  #222021!important;
    display: inline;
    list-style: none;
    margin-top: 18px;
    margin-left: 15px;
    padding: 5px 5px 5px 5px;
}

l, ul {
    margin-top: 0;
    margin-bottom: 0;
}

/** section 2 **/

.row {
    width: 100vw;
    margin-bottom: 15px;
}

#section-2 h2 {
    margin-top: 50px;
    margin-bottom: 25px;
    text-align: center;
}

#section-2 ul li {
    list-style-type: none;
    font-size: 20px;
    float: center;
    text-align: center;
    display: inline;
    word-spacing: 0;
    flex-wrap: wrap;
    padding: 0 0 0 0;
    margin-left: 20px;
    margin-right: 20px;
}

#section-2 .card-title {
    margin-bottom: 30px;
    text-align: center;
}

#section-2 .card-text {
    text-align: center;
}


/** section 2 images **/

.card-deck {
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 75px;
    margin-top: inherit;
}
